@import "../../node_modules/tailwindcss/dist/base.css";
@import "../../node_modules/tailwindcss/dist/components.css";
@import "../../node_modules/tailwindcss/dist/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    transition: ease-in-out .3s;
}

.arrow-down {
    width: 40px;
    height: 40px;
    animation: upDown infinite 3s;
    fill: #fff;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
}
@media (min-width: 1360px) {
    h1 {
        font-size: 5rem;
    }
}
@media (min-width: 1600px) {
    h1 {
        font-size: 6rem;
    }
}
@media (min-width: 1920px) {
    h1 {
        font-size: 8rem;
    }
    .arrow-down {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 2560px) {
    h1 {
        font-size: 10rem;
    }
    .arrow-down {
        width: 60px;
        height: 60px;
    }
}
@media (min-width: 3440px) {
    h1 {
        font-size: 12rem;
    }
    .arrow-down {
        width: 80px;
        height: 80px;
    }
}

@keyframes upDown {
    0% {transform: translateX(0)}
    20% {transform: translateX(-40px)}
    30% {transform: translateX(0)}
    40% {transform: translateX(-35px)}
    60% {transform: translateX(-10px)}
    70% {transform: translateX(-25px)}
    80% {transform: translateX(0)}
    100% {transform: translateX(0)}
}
