@import "../../node_modules/tailwindcss/dist/base.css";
@import "../../node_modules/tailwindcss/dist/components.css";
@import "../../node_modules/tailwindcss/dist/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}
