@import "../../node_modules/tailwindcss/dist/base.css";
@import "../../node_modules/tailwindcss/dist/components.css";
@import "../../node_modules/tailwindcss/dist/utilities.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}

h1 {
    font-size: 1rem;
    transition: ease-in-out .05s;
    color: white;
    text-shadow: 5px 5px 6px #000;
}

.logo {
    margin: auto;
    width: 150px;
}

@media all and (min-width: 400px) {
    .logo {
        width: 200px;
    }

    h1 {
        font-size: 2rem;
    }
}

@media all and (min-width: 600px) {
    .logo {
        width: 250px;
    }
}

@media all and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    .logo {
        width: 300px;
    }
}

@media all and (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .logo {
        width: 350px;
    }
}

@media all and (min-width: 1600px) {
    h1 {
        font-size: 5rem;
    }

    .logo {
        width: 400px;
    }
}

@media all and (min-width: 1925px) {
    h1 {
        font-size: 6rem;
    }

    .logo {
        width: 450px;
    }
}

@media all and (min-width: 2700px) {
    h1 {
        font-size: 7rem;
    }

    .logo {
        width: 500px;
    }
}

@media all and (min-width: 3000px) {
    h1 {
        font-size: 8rem;
    }

    .logo {
        width: 550px;
    }
}

.arrow-down {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.ban {
    width: 100%;
    height: 40px;
    background: #FF0000;
    position: absolute;
}

.banTop {
    top: 0;
}

.banBottom {
    bottom: 0;
}

.socialNetwork {
    width: 60px;
}
